<footer class="footer wrap pale">
  <a href={{ absURL "" }} class="post_nav"><span class="post_next">{{ T "latest_posts" }}
    <svg class="icon icon_scale">
      <use xlink:href="#double-arrow"></use>
    </svg>
  </span></a>
  <p>&copy;&nbsp;<span class="year"></span>&nbsp;{{ site.Title }}</p>
  <p class="attribution upcase">{{ safeHTML (T "designed_by" site.Title) }}</p>
</footer>
{{ $scriptPath := "js/index.js" }}
{{ $scripts := resources.Get $scriptPath | resources.ExecuteAsTemplate $scriptPath . | resources.Minify | resources.Fingerprint "sha512" }}
<script src="{{ $scripts.Permalink }}"></script>