{{- $config := site.Params -}}
{{- $permalink := .Permalink -}}
{{- $st := site.Title -}}

{{- /* --- 1. Mendefinisikan Summary --- */ -}}
{{- $summary := "" -}}
{{- with .Summary -}}
  {{- $summary = . -}}
{{- else -}}
  {{- $summary = $config.description -}}
{{- end -}}
{{- $summary = truncate 160 $summary -}}

{{- /* --- 2. Mendefinisikan Path Logo --- */ -}}
{{- $logoImage := "" -}}
{{- with $config.logo }}
  {{- if in . "://" }}
    {{- $logoImage = . }}
  {{- else }}
    {{- $logoImage = . | absURL }} 
  {{- end }}
{{- end }}

{{- /* --- 3. Mendefinisikan Path Gambar Featured (Kunci Thumbnail) --- */ -}}
{{- $image := "" -}}
{{- with .Params.image }}
  {{- if in . "://" }}
    {{- $image = . }}
  {{- else }}
    {{- $image = . | absURL }} 
  {{- end }}
{{- else }}
  {{- $image = $logoImage }} 
{{- end }}

<meta name="keywords" content="{{ $st }}">
<meta property="og:locale" content='{{ default "en_US" $config.locale }}'>
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ $summary }}">
<meta property="og:url" content="{{ $permalink }}">
<meta property="og:image" content="{{ $image }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ $summary }}">
<meta name="twitter:image" content="{{ $image }}">

{{- /* --- 4. Schema Markup (Structured Data) --- */ -}}
{{- if eq .Section $config.blogDir -}}
  {{- $date := .Date.Format "2006-02-01" -}}
  <meta property="article:published_time" content="{{ htmlUnescape $date }}" />
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage":"{{ $permalink }}",
      "name": "{{ $st }}",
      "headline": "{{ .Title }}",
      "description": "{{ $summary }}",
      "url": "{{ $permalink }}",
      "datePublished": "{{ $date }}",
      "dateModified": "{{ $date }}",
      "author": {
        "@type": "Person",
        "name": "{{ .Params.author | default $st }}"
      },
      "image":{
        "@type":"ImageObject",
        "url": "{{ $image }}"
      },
      "publisher": {
        "@type": "Organization",
        "logo": {
          "@type":"ImageObject",
          "url": "{{ $logoImage }}"
        },
        "name": "{{ $st }}"
      }
    }
  </script>
  <meta name="twitter:creator" content="{{ $config.twitter }}">
{{- end }}
<link rel="canonical" href="{{ $permalink }}">